# MHC - CH variants on all data 
- Barbara Walkowiak (bw450)

- 2024-06-19, modified 2024-09-07

- In this script, for each individual screened for CH in the UKB I add MHC binding scores based on their MHC genotype (class I)

# Set up

In [1]:
# IMPORTS

import random
import math
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker
from matplotlib.ticker import LinearLocator, FormatStrFormatter
from matplotlib.patches import Polygon
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
from matplotlib import cm
import scipy.special
from scipy import integrate
import scipy.integrate as it
from scipy.interpolate import interp1d
from scipy.stats import kde
import copy
import glob, os
import re
# from sklearn import datasets, linear_model
import pandas as pd
from decimal import *
from operator import itemgetter    
from collections import OrderedDict
import timeit
import time 
import csv
import seaborn as sns 
import scipy as sp
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from itertools import combinations
from scipy.stats import kruskal
from scipy.stats import mannwhitneyu
from matplotlib.backends.backend_pdf import PdfPages
import statsmodels.api as sm
import plotly.express as px
import kaleido

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# specify font for plotting 
plt.rcParams.update({'font.sans-serif':'Helvetica'})

# stop printing warnings 
import warnings
warnings.filterwarnings("ignore")

# get current date 
timestr = time.strftime("%Y%m%d")

# Read in dataframe with imputed MHC I and CH status for each participant

In [3]:
df_hla1 = pd.read_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_df_hla1_ch_status.csv')

# Define necessary functions

In [4]:
# define functions to make the HLA names uniform

# transform format (from NetMHCpan data to UKBB format)
def transform_format_netmhc(input_string):
    
    # a regular expression pattern to match the input format
    pattern = re.compile(r'HLA-(\w\S*)(\d{2}):(\d{2})')

    # check if there is a match
    match = pattern.match(input_string)

    # if match, apply transformation
    if match:
        group1 = match.group(1).replace('*', '') # remove the star 
        group2 = int(match.group(2)) # remove zeros at the start 
        group3 = match.group(3) # leave as it is 

        # Format the output string
        output_string = f'{group1}_{group2}{group3}' # stitch back 
        return output_string # return transformed string 

    # if no much, return original string 
    return input_string

# transform format (from PRIME format to UKBB format)
def transform_format_prime(input_string):

    # regular expression pattern to match the input format
    # Nb PRIME is almost the same as NetMHC but there is no star after "HLA-A*"
    pattern = re.compile(r'HLA-(\w)(\d{2}):(\d{2})')

    # check if there is a match
    match = pattern.match(input_string)

    # if match, apply transformation
    if match:
        group1 = match.group(1).replace('*', '') 
        group2 = int(match.group(2)) 
        group3 = match.group(3) 

        # Format the output string
        output_string = f'{group1}_{group2}{group3}' # stitch back 
        return output_string # return transformed string 

    # if no match, return original string 
    return input_string

In [5]:
# for everyone, assign the score for every variant examined based on their MHC I genotype 
# define the function to find best scores (possible to do this for different parameters, we chose %Rank_EL)

def find_best_score_for_all_variants(row, df, param):

    '''
    row = function is applied to each row of the participant dataframe (ie run through each participant)

    df = dataframe with prediction scores (like netmhc)

    Allowed parameters (param) are:
    Aff_nM - affinity (raw number)
    Score_BA - binding affinity score
    Score_EL - elution score
    %Rank_BA - %Rank of binding affinity cf a set of random peptides
    %Rank_EL - %Rank of elution cf a set of random peptides
    '''

    # get HLAs for each person 
    hlas = row.index[7:][row[7:] >= 1] # select alleles which each Person (row) carries (the first 7 columns are: Person ID, gene_var, VAF, CH status, age, depth, var_depth)
   
    # get variants 
    variants = df['gene_var']
   
    scores = {} # initialise empy dictionaries

    # depending on the parameter, pick the minimum of maximum value 
    if param == "Aff_nM":
        for var in variants:
            # Find the minimum value for each variant in the category that is present
            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0])
            # Update the dictionary with the minimum value for the corresponding variant
            scores[f'score_{var}'] = best_value
        return pd.Series(scores)

    elif param == "Score_BA":
        for var in variants:
            
            best_value = max(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value
        
        return pd.Series(scores)

    elif param == "Score_EL":
        for var in variants:
           
            best_value = max(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value

        return pd.Series(scores)

    elif param == "%Rank_BA":
        for var in variants:

            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value

        return pd.Series(scores)

    # we will likely be choosing this option
    elif param == "%Rank_EL":
        for var in variants:
            
            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0]) # choose minimum rank as the best score 
            scores[f'score_{var}'] = best_value

        return pd.Series(scores)

## Load binding predictions for MHC I from NetMHC I

In [6]:

# Import NetMHC scores  
pred_file_net = '/Users/barbarawalkowiak/Desktop/msc_thesis/netMHC_out/scores/20240716_NetMHC_HLA_UKBB_with_affinities_bestscores_allvariants.csv' # EL scores, BA scores, EL rank, BA rank, affinity prediction
pred_filename_net = pred_file_net.split('/')[2].split('.')[0] # identify file name 
pred_method_net = pred_file_net.split('_out')[0] # identify method used to obtain predictions

# load the csv
netmhc = pd.read_csv(pred_file_net) # load the csv 
netmhc = netmhc.rename(columns={'Aff(nM)': 'Aff_nM'})

# specify HLA allele naming format 
NET_col = netmhc.HLA
NET_formatted = NET_col.apply(transform_format_netmhc)
netmhc = pd.concat([netmhc, NET_formatted.rename('HLA_formatted')], axis = 1)

# select required columns and sor values 
netmhc = netmhc[['HLA_formatted', 'Peptide', '%Rank_EL', 'Score_EL', '%Rank_BA', 'Score_BA', 'Aff_nM', 'gene', 'variant', 'genotype']]
netmhc = netmhc.sort_values(by=['HLA_formatted', 'gene', 'variant', 'genotype'])

# identify gene variants 
netmhc['gene_var_gt'] = netmhc['gene'] + '_' + netmhc['variant'] + '_' + netmhc['genotype'] # add complete genotype data
netmhc['gene_var'] = netmhc['gene'] + '_' + netmhc['variant']
netmhc['varID'] = netmhc['gene'] + ' ' + netmhc['variant'] # this is a column where the variant ID is in the same format as in the CH cases dataframe
netmhc = netmhc.rename(columns={'Aff(nM)': 'Aff_nM'}) # rename affinity column 
scores_netmhc = netmhc[['HLA_formatted', 'Score_EL', '%Rank_EL', 'Score_BA', '%Rank_BA', 'Aff_nM', 'varID', 'gene_var', 'gene_var_gt']] # select columns of interest

# Print the results 
print('Number of alleles for which predictions are available (NetMHC):', len(netmhc.HLA_formatted.unique()))

# Find MHC alleles which have been typed in the UKBB
hla_ukbb = df_hla1.filter(regex='\d').columns # HLA from all UKBB
print('Number of HLA alleles which have been identified in the UK BioBank:', len(hla_ukbb))

# Now look at variants
print('Number of unique variants I have predictions for (NetMHC):',  len(netmhc.gene_var.unique()))

Number of alleles for which predictions are available (NetMHC): 194
Number of HLA alleles which have been identified in the UK BioBank: 215
Number of unique variants I have predictions for (NetMHC): 54

### variants identified in CH screening vs variants we have predictions for (all variants screened for should be covered)

In [7]:
print('Number of variants identified in the UKBB from CH screening:', len(df_hla1.gene_var.unique())-1) # NB this list also includes 'NaN'
print('Number or variants I have predictions for (NetMHC):',  len(netmhc.gene_var.unique()))

variants_in_ukbb = df_hla1.gene_var.unique().tolist()
variants_in_ukbb = [x for x in variants_in_ukbb if str(x) != 'nan']
print('List of variants examined:', sorted(variants_in_ukbb))
print('List of variants with NetMHC predictions:',  sorted(netmhc.gene_var.unique())) # also includes predictions for variants which turned out not to be common enough

Number of variants identified in the UKBB from CH screening: 40
Number or variants I have predictions for (NetMHC): 54
List of variants examined: ['DNMT3A_P904L', 'DNMT3A_P904Q', 'DNMT3A_P904R', 'DNMT3A_R320*', 'DNMT3A_R326C', 'DNMT3A_R326G', 'DNMT3A_R326S', 'DNMT3A_R598*', 'DNMT3A_R729G', 'DNMT3A_R729W', 'DNMT3A_R736C', 'DNMT3A_R736G', 'DNMT3A_R736H', 'DNMT3A_R736L', 'DNMT3A_R736S', 'DNMT3A_R771*', 'DNMT3A_R882C', 'DNMT3A_R882H', 'DNMT3A_R882L', 'DNMT3A_R882P', 'DNMT3A_R882S', 'DNMT3A_Y735C', 'DNMT3A_Y735F', 'DNMT3A_Y735S', 'GNB1_K57E', 'IDH1_R132H', 'IDH2_R140Q', 'IDH2_R172K', 'JAK2_V617F', 'KRAS_G12D', 'KRAS_G12S', 'MPL_W515L', 'NRAS_G12D', 'SF3B1_K666N', 'SF3B1_K700E', 'SRSF2_P95H', 'SRSF2_P95L', 'SRSF2_P95R', 'TP53_R175H', 'TP53_R273H']
List of variants with NetMHC predictions: ['DNMT3A_P904L', 'DNMT3A_P904Q', 'DNMT3A_P904R', 'DNMT3A_R320*', 'DNMT3A_R326C', 'DNMT3A_R326G', 'DNMT3A_R326S', 'DNMT3A_R598*', 'DNMT3A_R598G', 'DNMT3A_R729G', 'DNMT3A_R729W', 'DNMT3A_R736C', 'DNMT3A_R736G', 'DNMT3A_R736H', 'DNMT3A_R736L', 'DNMT3A_R736P', 'DNMT3A_R736S', 'DNMT3A_R771*', 'DNMT3A_R771G', 'DNMT3A_R882C', 'DNMT3A_R882G', 'DNMT3A_R882H', 'DNMT3A_R882L', 'DNMT3A_R882P', 'DNMT3A_R882S', 'DNMT3A_Y735C', 'DNMT3A_Y735F', 'DNMT3A_Y735S', 'GNB1_K57E', 'IDH1_R132H', 'IDH2_R140L', 'IDH2_R140Q', 'IDH2_R172K', 'JAK2_V617F', 'KIT_D816G', 'KIT_D816V', 'KRAS_G12A', 'KRAS_G12D', 'KRAS_G12S', 'KRAS_G12V', 'MPL_W515*', 'MPL_W515L', 'NRAS_G12A', 'NRAS_G12C', 'NRAS_G12D', 'NRAS_G12S', 'NRAS_G12V', 'SF3B1_K666N', 'SF3B1_K700E', 'SRSF2_P95H', 'SRSF2_P95L', 'SRSF2_P95R', 'TP53_R175H', 'TP53_R273H']

In [8]:

# create a suitably formatted NetMHC df 
param = '%Rank_EL'
netmhc_sub = netmhc[['HLA_formatted', 'gene_var_gt', param]]
netmhc_sub_wide = pd.pivot(netmhc_sub, index='gene_var_gt', columns='HLA_formatted', values=param)
netmhc_sub_wide = netmhc_sub_wide.reset_index() # this is to make sure that you have the gene_var column in there too 
netmhc_sub_wide.columns = map(transform_format_netmhc, netmhc_sub_wide.columns)
netmhc_sub_wide

,gene_var_gt,A_101,A_102,A_103,A_1101,A_1102,A_1103,A_201,A_202,A_203,...,C_403,C_407,C_501,C_602,C_701,C_702,C_704,C_801,C_802,C_804
0,DNMT3A_P904L_ch,1.304,1.295,1.163,2.286,2.286,1.618,0.753,0.645,0.238,...,3.376,1.829,4.538,0.771,0.951,1.073,2.260,2.349,4.492,2.495
1,DNMT3A_P904L_refseq,0.968,0.884,0.844,1.602,1.602,0.793,2.147,2.519,1.271,...,1.485,0.405,2.360,0.822,0.643,0.273,0.857,1.867,2.322,2.149
2,DNMT3A_P904Q_ch,1.018,1.049,0.902,2.498,2.498,1.530,0.807,0.565,0.235,...,2.449,1.157,2.847,0.655,0.804,0.768,2.334,2.087,2.773,2.327
3,DNMT3A_P904Q_refseq,0.968,0.884,0.844,1.602,1.602,0.793,2.147,2.519,1.271,...,1.485,0.405,2.360,0.822,0.643,0.273,0.857,1.867,2.322,2.149
4,DNMT3A_P904R_ch,1.331,1.437,1.222,2.440,2.440,1.650,0.361,0.321,0.091,...,6.394,2.204,6.166,0.513,0.504,0.491,1.427,6.255,8.836,5.360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,SRSF2_P95R_refseq,6.221,3.614,6.530,4.539,4.539,5.012,21.355,15.723,12.063,...,5.934,3.531,7.691,4.075,1.232,2.088,6.109,11.847,6.015,10.009
104,TP53_R175H_ch,5.285,5.159,6.238,3.879,3.879,3.415,1.761,1.447,1.270,...,11.861,9.305,13.711,3.284,2.270,3.036,2.763,9.837,13.844,7.516
105,TP53_R175H_refseq,9.617,6.019,11.430,2.145,2.145,2.412,2.504,2.000,1.706,...,13.622,10.869,14.295,2.364,1.979,4.188,3.226,12.513,16.362,9.801
106,TP53_R273H_ch,7.237,10.392,7.881,7.668,7.668,8.440,1.913,2.140,3.311,...,10.534,4.467,8.629,0.132,0.266,1.034,0.579,3.201,9.857,3.914
107,TP53_R273H_refseq,12.027,15.387,12.097,4.330,4.330,3.495,2.593,2.825,4.063,...,15.407,5.995,13.266,0.173,0.382,1.790,1.014,5.118,13.606,5.822

In [9]:

# create a list of HLA alleles genotyped in the UKBB for which predictions are available
hla_intersect = netmhc_sub_wide.columns[netmhc_sub_wide.columns.isin(hla_ukbb)] # HLA in the UKBB which I have predictions for 
hla_intersect_list = hla_intersect.tolist() # 194 alleles 

# create the prediction dataset 
netmhc_sub = netmhc_sub_wide[hla_intersect_list + netmhc_sub_wide.columns[netmhc_sub_wide.columns.str.contains('gene_var')].tolist()] # subset netmhc so you only have alleles which are in the UKBB, also 194
netmhc_sub = netmhc_sub[netmhc_sub['gene_var_gt'].str.contains('_ch', regex=True)] # retain CH scores only 
netmhc_sub['gene_var'] = netmhc_sub['gene_var_gt'].str.replace('_ch', '') # remove the ch / refseq annotation

In [10]:
# subset to only get predictions for variants which are investigated 
netmhc_sub2 = netmhc_sub[netmhc_sub['gene_var'].isin(variants_in_ukbb)]
netmhc_sub2

,A_101,A_102,A_103,A_1101,A_1102,A_1103,A_201,A_202,A_203,A_205,...,C_501,C_602,C_701,C_702,C_704,C_801,C_802,C_804,gene_var_gt,gene_var
0,1.304,1.295,1.163,2.286,2.286,1.618,0.753,0.645,0.238,0.974,...,4.538,0.771,0.951,1.073,2.260,2.349,4.492,2.495,DNMT3A_P904L_ch,DNMT3A_P904L
2,1.018,1.049,0.902,2.498,2.498,1.530,0.807,0.565,0.235,0.752,...,2.847,0.655,0.804,0.768,2.334,2.087,2.773,2.327,DNMT3A_P904Q_ch,DNMT3A_P904Q
4,1.331,1.437,1.222,2.440,2.440,1.650,0.361,0.321,0.091,0.439,...,6.166,0.513,0.504,0.491,1.427,6.255,8.836,5.360,DNMT3A_P904R_ch,DNMT3A_P904R
6,37.267,47.917,36.111,27.250,27.250,23.808,52.667,55.000,47.400,60.417,...,52.000,61.667,53.333,50.000,60.000,45.000,52.500,38.333,DNMT3A_R320*_ch,DNMT3A_R320*
8,3.837,4.932,4.312,2.104,2.104,2.983,3.226,2.774,3.044,1.188,...,1.078,1.749,0.881,1.618,3.397,0.660,0.738,1.085,DNMT3A_R326C_ch,DNMT3A_R326C
10,2.122,2.566,1.955,1.539,1.539,1.707,6.313,4.497,3.213,1.820,...,0.356,1.624,0.992,1.683,3.454,0.147,0.240,0.222,DNMT3A_R326G_ch,DNMT3A_R326G
12,2.071,2.607,1.932,0.749,0.749,0.972,2.538,1.634,1.243,0.539,...,0.362,0.784,0.346,0.699,1.781,0.138,0.248,0.233,DNMT3A_R326S_ch,DNMT3A_R326S
14,23.380,22.913,25.087,1.678,1.678,1.514,30.909,45.538,32.714,36.703,...,56.250,32.750,21.231,22.812,55.000,49.000,65.000,51.250,DNMT3A_R598*_ch,DNMT3A_R598*
18,0.811,1.196,0.766,2.261,2.261,3.622,0.167,0.085,0.035,0.242,...,3.118,4.558,1.804,0.599,1.615,3.944,2.924,3.740,DNMT3A_R729G_ch,DNMT3A_R729G
20,1.603,1.265,1.485,2.978,2.978,5.565,0.218,0.153,0.078,0.397,...,2.903,4.263,1.218,0.336,1.324,4.146,2.917,4.521,DNMT3A_R729W_ch,DNMT3A_R729W
22,9.050,2.747,9.735,2.858,2.858,2.341,0.646,0.981,2.132,1.750,...,8.079,3.191,6.357,2.433,4.691,7.322,9.543,6.963,DNMT3A_R736C_ch,DNMT3A_R736C
24,3.369,0.999,4.242,1.774,1.774,1.085,0.338,0.375,0.883,0.772,...,6.946,3.513,5.358,2.802,4.899,7.415,5.025,7.816,DNMT3A_R736G_ch,DNMT3A_R736G
26,3.132,0.867,3.889,1.766,1.766,1.168,0.126,0.141,0.459,0.251,...,2.785,0.520,1.099,0.321,0.511,2.997,2.356,3.039,DNMT3A_R736H_ch,DNMT3A_R736H
28,4.969,1.624,6.492,2.457,2.457,1.671,0.296,0.377,1.164,0.822,...,5.386,0.570,0.371,0.815,1.583,5.327,5.324,5.934,DNMT3A_R736L_ch,DNMT3A_R736L
32,2.976,0.878,3.657,0.838,0.838,0.520,0.186,0.217,0.531,0.405,...,4.386,1.297,2.964,0.873,1.432,2.843,3.173,2.927,DNMT3A_R736S_ch,DNMT3A_R736S
34,10.538,17.129,11.839,35.667,35.667,35.333,44.200,37.690,35.938,32.750,...,7.169,50.000,47.000,50.000,37.000,23.000,6.772,20.486,DNMT3A_R771*_ch,DNMT3A_R771*
38,0.787,2.191,0.697,2.177,2.177,2.709,5.803,6.852,10.156,4.253,...,0.185,4.754,5.046,2.706,2.400,0.271,0.163,0.326,DNMT3A_R882C_ch,DNMT3A_R882C
42,0.107,0.120,0.117,1.020,1.020,1.322,4.719,4.029,6.011,1.694,...,0.104,0.391,0.419,0.647,0.188,0.250,0.120,0.280,DNMT3A_R882H_ch,DNMT3A_R882H
44,0.173,0.367,0.142,0.849,0.849,0.994,0.787,1.044,1.035,0.460,...,0.005,1.154,0.639,0.507,0.049,0.004,0.003,0.003,DNMT3A_R882L_ch,DNMT3A_R882L
46,0.834,2.394,0.741,0.642,0.642,0.813,5.985,2.289,4.712,2.949,...,0.183,1.849,2.528,2.834,0.957,0.282,0.167,0.322,DNMT3A_R882P_ch,DNMT3A_R882P
48,0.624,1.880,0.682,0.797,0.797,1.018,4.701,3.997,4.955,1.719,...,0.110,0.519,1.257,1.488,1.125,0.183,0.087,0.185,DNMT3A_R882S_ch,DNMT3A_R882S
50,7.860,1.959,11.349,6.057,6.057,4.909,0.821,0.878,1.070,1.795,...,8.034,0.895,2.675,1.053,3.474,7.095,6.775,8.528,DNMT3A_Y735C_ch,DNMT3A_Y735C
52,6.096,1.397,7.371,3.530,3.530,3.877,0.190,0.261,0.686,0.527,...,3.982,0.296,1.012,0.415,0.935,4.070,4.173,5.084,DNMT3A_Y735F_ch,DNMT3A_Y735F
54,3.606,0.898,4.211,3.122,3.122,2.145,0.429,0.285,0.298,0.596,...,3.090,0.154,0.567,0.278,0.493,2.423,2.179,2.724,DNMT3A_Y735S_ch,DNMT3A_Y735S
56,1.312,1.139,1.314,2.534,2.534,2.208,0.920,0.376,0.052,0.776,...,5.807,1.761,0.602,0.613,1.496,3.652,5.966,4.333,GNB1_K57E_ch,GNB1_K57E
58,1.997,1.832,1.933,4.071,4.071,2.577,16.810,13.763,9.018,6.278,...,15.898,7.249,1.921,1.082,8.741,6.631,10.763,8.806,IDH1_R132H_ch,IDH1_R132H
62,8.969,6.388,7.928,1.531,1.531,1.839,5.546,6.663,4.196,3.568,...,3.170,2.660,2.341,3.262,1.067,1.855,2.299,2.352,IDH2_R140Q_ch,IDH2_R140Q
64,1.408,1.838,1.311,0.139,0.139,0.093,25.268,18.919,15.070,12.667,...,18.549,4.905,2.849,2.368,9.583,9.250,11.820,7.419,IDH2_R172K_ch,IDH2_R172K
66,10.487,11.425,8.966,13.886,13.886,11.469,3.408,3.793,5.692,4.234,...,2.036,14.322,13.655,11.722,7.748,3.396,4.070,5.014,JAK2_V617F_ch,JAK2_V617F
74,7.425,11.104,7.595,0.452,0.452,0.552,5.155,4.956,3.298,2.880,...,0.409,21.000,16.969,12.926,6.380,0.473,0.171,0.438,KRAS_G12D_ch,KRAS_G12D
76,15.302,13.938,14.158,0.170,0.170,0.166,4.321,4.333,1.923,2.260,...,3.642,10.106,13.345,17.314,6.201,2.320,2.200,1.779,KRAS_G12S_ch,KRAS_G12S
82,2.389,2.160,2.318,0.292,0.292,0.254,0.938,1.306,2.384,2.653,...,8.233,0.149,0.076,0.074,3.671,9.010,10.122,8.892,MPL_W515L_ch,MPL_W515L
88,7.425,11.104,7.595,0.452,0.452,0.552,5.155,4.956,3.298,2.880,...,0.409,21.000,16.969,12.926,6.380,0.473,0.171,0.438,NRAS_G12D_ch,NRAS_G12D
94,12.741,9.624,13.538,7.852,7.852,8.903,4.174,3.470,4.222,2.355,...,4.795,0.098,0.344,1.068,0.587,2.042,6.131,2.336,SF3B1_K666N_ch,SF3B1_K666N
96,2.377,2.483,1.906,3.220,3.220,5.287,0.026,0.010,0.019,0.027,...,0.169,5.033,7.377,5.467,1.057,0.519,0.140,0.565,SF3B1_K700E_ch,SF3B1_K700E
98,2.887,1.677,3.050,5.774,5.774,6.954,19.903,17.726,10.009,21.282,...,4.289,2.132,1.014,0.797,3.050,7.827,3.595,11.315,SRSF2_P95H_ch,SRSF2_P95H
100,3.379,1.816,3.689,0.751,0.751,0.617,4.430,3.667,4.319,2.734,...,3.979,2.893,1.530,1.299,2.352,7.640,3.944,5.102,SRSF2_P95L_ch,SRSF2_P95L
102,3.178,1.853,3.415,3.850,3.850,3.964,16.600,20.550,13.640,18.658,...,3.656,1.068,0.525,0.420,2.986,10.174,3.684,11.251,SRSF2_P95R_ch,SRSF2_P95R
104,5.285,5.159,6.238,3.879,3.879,3.415,1.761,1.447,1.270,1.692,...,13.711,3.284,2.270,3.036,2.763,9.837,13.844,7.516,TP53_R175H_ch,TP53_R175H
106,7.237,10.392,7.881,7.668,7.668,8.440,1.913,2.140,3.311,4.167,...,8.629,0.132,0.266,1.034,0.579,3.201,9.857,3.914,TP53_R273H_ch,TP53_R273H

In [11]:
# apply the function to find, for each participant, the best score for each examined CH variant 
# you take your current df and apply, row by row, the function to get scores for each variant 
# for the purpose of this, we first need to select MHC columns which are actually in the hla_intersect_list I think 
# DO NOT use this for sth like MHC heterozygosity tho!!
df_hla1_hlas = pd.concat([df_hla1[['Person_ID', 'gene_var', 'VAF', 'ch_status', 'age', 'depth', 'var_depth']], df_hla1[hla_intersect_list]], axis = 1)
df_hla1_scores = pd.concat([df_hla1_hlas, df_hla1_hlas.apply(find_best_score_for_all_variants, df=netmhc_sub2, param=param, axis=1)], axis=1)

In [12]:
# print the df 
# add extra columns (read depth etc + MHC data)
df_hla1_scores_added = pd.concat([df_hla1_scores, df_hla1[['het_allele_I_A', 'het_allele_I_B', 'het_allele_I_C', 'sum_class_I', 'het_all_class_I', 'het_all_class_I_from_allele']]], axis = 1)
df_hla1_scores_added

,Person_ID,gene_var,VAF,ch_status,age,depth,var_depth,A_101,A_102,A_103,...,score_SRSF2_P95L,score_SRSF2_P95R,score_TP53_R175H,score_TP53_R273H,het_allele_I_A,het_allele_I_B,het_allele_I_C,sum_class_I,het_all_class_I,het_all_class_I_from_allele
0,2812213,NaN,NaN,0,41,NaN,NaN,0.0,0.0,0.0,...,3.979,3.656,1.761,1.913,False,True,True,6.0,False,False
1,4860169,NaN,NaN,0,46,NaN,NaN,2.0,0.0,0.0,...,0.973,0.525,2.270,0.132,False,True,True,6.0,False,False
2,3381323,NaN,NaN,0,52,NaN,NaN,0.0,0.0,0.0,...,2.893,1.068,1.468,0.132,True,True,True,6.0,True,True
3,2805252,NaN,NaN,0,65,NaN,NaN,2.0,0.0,0.0,...,1.299,0.420,3.036,0.132,False,True,True,6.0,False,False
4,1118855,NaN,NaN,0,56,NaN,NaN,0.0,0.0,0.0,...,0.751,1.068,1.761,0.132,True,True,True,6.0,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384910,4478244,DNMT3A_R882H,0.022727,1,55,88.0,2.0,1.0,0.0,0.0,...,0.973,0.420,1.761,0.266,True,True,True,6.0,True,True
384911,5660850,NaN,NaN,0,56,NaN,NaN,1.0,0.0,0.0,...,0.973,0.525,0.995,0.266,True,True,True,6.0,True,True
384912,3573995,NaN,NaN,0,62,NaN,NaN,1.0,0.0,0.0,...,0.973,0.525,1.468,0.266,True,True,True,6.0,True,True
384913,3025735,NaN,NaN,0,51,NaN,NaN,0.0,0.0,0.0,...,0.520,1.068,1.559,0.132,True,True,True,6.0,True,True
384914,1381182,NaN,NaN,0,67,NaN,NaN,1.0,0.0,0.0,...,0.973,0.525,1.761,0.266,True,True,True,6.0,True,True

In [13]:
# save to a file (this is already usable for further analysis)
df_hla1_scores_added.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_netmhc1_scores_for_all_var.csv')

In [5]:
# TO RUN THE FOLLOWING CELLS TO ADD LABELS, IF YOU HAVE ALREADY SAVED THE DATAFRAMES ABOVE, RUN THIS CELL
df_hla1_scores_added = pd.read_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_netmhc1_scores_for_all_var.csv')

### Add label (top / bottom half of binding scores)

In [14]:
# subset the dataframe to only include gene_var, Person ID and scores 
scores_col = [col for col in df_hla1_scores_added.columns if col.startswith('score_')]
df_hla1_scores_sub = pd.concat([df_hla1_scores_added[['Person_ID', 'gene_var', 'VAF', 'var_depth']], df_hla1_scores_added[scores_col]], axis = 1)

# melt the dataframe 
df_hla1_scores_sub_melted = pd.melt(df_hla1_scores_sub, id_vars = ['Person_ID', 'gene_var', 'VAF', 'var_depth'])

# add a column which has the name of the variant formatted)
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['variable'].str[6:]

# add a column to indicate CH status (either carrier of the variant the score is for, or non-carrier, even if has CH driven by a different variant)
df_hla1_scores_sub_melted['CH_status'] = np.where(df_hla1_scores_sub_melted['gene_var'] == df_hla1_scores_sub_melted['CH_variant'], 1, 0)

# binding score in the format of -1*log10(%Rank_EL)
df_hla1_scores_sub_melted['log_score'] = -1 * np.log10(df_hla1_scores_sub_melted['value'])

# add median score for each variant and then order them by median 
df_hla1_scores_sub_melted['median_score'] = df_hla1_scores_sub_melted.groupby('CH_variant')['log_score'].transform('median')

# convert to categories 
df_hla1_scores_sub_melted['gene_var'] = df_hla1_scores_sub_melted['gene_var'].astype('category') 
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['CH_variant'].astype('category') # make sure you convert this to category first of all

In [15]:
# Add group (split participants with values equal to the median)

# there is quite a lot of people who have the score == median score 
# I am splitting this group so that the number of people with top / bottom is the same: here, each person whose score == median is assigned at random top or bottom 
variants = df_hla1_scores_sub_melted.CH_variant.unique().tolist()

for var in variants:

    # select df with variant 
    df_variant = df_hla1_scores_sub_melted[df_hla1_scores_sub_melted['CH_variant'] == var]
    
    # get the median 
    median_score = df_variant['log_score'].median()
    
    # find median values 
    median_values = df_variant[df_variant['log_score'] == df_variant['median_score']]
    
    # assign top / bottom if above or below median 
    below_median = df_variant[df_variant['log_score'] < median_score]
    above_median = df_variant[df_variant['log_score'] > median_score]
    
    # figure out how many observations you need with median values to top / bottom half
    half_length = len(df_variant) // 2
    num_bottom_needed = half_length - len(below_median)
    num_top_needed = len(median_values) - num_bottom_needed
    
    # assign values equal to median to top or bottom
    shuffled_median_values = median_values.sample(frac=1)
    bottom_half_median = shuffled_median_values.iloc[:num_bottom_needed]
    top_half_median = shuffled_median_values.iloc[num_bottom_needed:]
    
    # assign groups
    df_hla1_scores_sub_melted.loc[below_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[above_median.index, 'group'] = 'top half'
    df_hla1_scores_sub_melted.loc[bottom_half_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[top_half_median.index, 'group'] = 'top half'

In [16]:
# modified saving labels

# save to a file (this is already usable for further analysis)
df_hla1_scores_sub_melted.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_netmhc1_scores_for_all_var_with_labels.csv')

# Load binding predictions for MHC I from PRIME

In [17]:

# Import NetMHC scores  
pred_file_prime = '/Users/barbarawalkowiak/Desktop/msc_thesis/PRIME_out/scores/20240716_PRIME_HLA_UKBB_with_affinities_bestscores_allvariants.csv' # best EL rank, nr of weak and strong binders (I don't have affinity predictions and I am afraid this will have to do)
pred_filename_prime = pred_file_prime.split('/')[2].split('.')[0] # identify file name 
pred_method_prime = pred_file_prime.split('_out')[0] # identify method used to obtain predictions

# load the csv
prime = pd.read_csv(pred_file_prime) # load the csv 
prime = prime.rename(columns={'allele': 'HLA'})

# specify HLA allele naming format 
prime_col = prime.HLA
prime_formatted = prime_col.apply(transform_format_prime)
prime = pd.concat([prime, prime_formatted.rename('HLA_formatted')], axis = 1)

# Replace STOP with *
prime['variant'] = prime['variant'].str.replace('STOP', '*')

# rename column from min_rank to '%Rank_EL' to keep it consistent with NetMHC
prime = prime.rename(columns={'min_rank': '%Rank_EL'})

# select required columns and sor values 
prime = prime[['HLA_formatted', '%Rank_EL', 'sum_peptides_below_05', 'sum_peptides_below_2', 'gene', 'variant', 'genotype']]
prime = prime.sort_values(by=['HLA_formatted', 'gene', 'variant', 'genotype'])

# identify gene variants 
prime['gene_var_gt'] = prime['gene'] + '_' + prime['variant'] + '_' + prime['genotype'] # add complete genotype data
prime['gene_var'] = prime['gene'] + '_' + prime['variant']
prime['varID'] = prime['gene'] + ' ' + prime['variant'] # this is a column where the variant ID is in the same format as in the CH cases dataframe
scores_prime = prime[['HLA_formatted', '%Rank_EL', 'varID', 'gene_var', 'gene_var_gt']] # select columns of interest (realistically I only want minimum %EL rank anyway)

# Print the results 
print('Number of alleles for which predictions are available (NetMHC):', len(prime.HLA_formatted.unique()))

# Find MHC alleles which have been typed in the UKBB
hla_ukbb = df_hla1.filter(regex='\d').columns # HLA from all UKBB
print('Number of HLA alleles which have been identified in the UK BioBank:', len(hla_ukbb))

# Now look at variants
print('Number of unique variants I have predictions for (NetMHC):',  len(prime.gene_var.unique()))

Number of alleles for which predictions are available (NetMHC): 194
Number of HLA alleles which have been identified in the UK BioBank: 215
Number of unique variants I have predictions for (NetMHC): 54

In [18]:
print('Number of variants identified in the UKBB from CH screening:', len(df_hla1.gene_var.unique())-1) # NB this list also includes 'NaN' that's why its -1
print('Number or variants I have predictions for (PRIME):',  len(prime.gene_var.unique()))

variants_in_ukbb = df_hla1.gene_var.unique().tolist()
variants_in_ukbb = [x for x in variants_in_ukbb if str(x) != 'nan']
print('List of variants identified in UKBB:', sorted(variants_in_ukbb))
print('List of variants with PRIME preds:',  sorted(prime.gene_var.unique())) # there is more because I also made predictions for variants which ended up not being common enough

Number of variants identified in the UKBB from CH screening: 40
Number or variants I have predictions for (PRIME): 54
List of variants identified in UKBB: ['DNMT3A_P904L', 'DNMT3A_P904Q', 'DNMT3A_P904R', 'DNMT3A_R320*', 'DNMT3A_R326C', 'DNMT3A_R326G', 'DNMT3A_R326S', 'DNMT3A_R598*', 'DNMT3A_R729G', 'DNMT3A_R729W', 'DNMT3A_R736C', 'DNMT3A_R736G', 'DNMT3A_R736H', 'DNMT3A_R736L', 'DNMT3A_R736S', 'DNMT3A_R771*', 'DNMT3A_R882C', 'DNMT3A_R882H', 'DNMT3A_R882L', 'DNMT3A_R882P', 'DNMT3A_R882S', 'DNMT3A_Y735C', 'DNMT3A_Y735F', 'DNMT3A_Y735S', 'GNB1_K57E', 'IDH1_R132H', 'IDH2_R140Q', 'IDH2_R172K', 'JAK2_V617F', 'KRAS_G12D', 'KRAS_G12S', 'MPL_W515L', 'NRAS_G12D', 'SF3B1_K666N', 'SF3B1_K700E', 'SRSF2_P95H', 'SRSF2_P95L', 'SRSF2_P95R', 'TP53_R175H', 'TP53_R273H']
List of variants with PRIME preds: ['DNMT3A_P904L', 'DNMT3A_P904Q', 'DNMT3A_P904R', 'DNMT3A_R320*', 'DNMT3A_R326C', 'DNMT3A_R326G', 'DNMT3A_R326S', 'DNMT3A_R598*', 'DNMT3A_R598G', 'DNMT3A_R729G', 'DNMT3A_R729W', 'DNMT3A_R736C', 'DNMT3A_R736G', 'DNMT3A_R736H', 'DNMT3A_R736L', 'DNMT3A_R736P', 'DNMT3A_R736S', 'DNMT3A_R771*', 'DNMT3A_R771G', 'DNMT3A_R882C', 'DNMT3A_R882G', 'DNMT3A_R882H', 'DNMT3A_R882L', 'DNMT3A_R882P', 'DNMT3A_R882S', 'DNMT3A_Y735C', 'DNMT3A_Y735F', 'DNMT3A_Y735S', 'GNB1_K57E', 'IDH1_R132H', 'IDH2_R140L', 'IDH2_R140Q', 'IDH2_R172K', 'JAK2_V617F', 'KIT_D816G', 'KIT_D816V', 'KRAS_G12A', 'KRAS_G12D', 'KRAS_G12S', 'KRAS_G12V', 'MPL_W515*', 'MPL_W515L', 'NRAS_G12A', 'NRAS_G12C', 'NRAS_G12D', 'NRAS_G12S', 'NRAS_G12V', 'SF3B1_K666N', 'SF3B1_K700E', 'SRSF2_P95H', 'SRSF2_P95L', 'SRSF2_P95R', 'TP53_R175H', 'TP53_R273H']

In [19]:

# create a suitably formatted NetMHC df 
param = '%Rank_EL'
prime_sub = prime[['HLA_formatted', 'gene_var_gt', param]]
prime_sub_wide = pd.pivot(prime_sub, index='gene_var_gt', columns='HLA_formatted', values=param)
prime_sub_wide = prime_sub_wide.reset_index() # this is to make sure that you have the gene_var column in there too 
prime_sub_wide.columns = map(transform_format_prime, prime_sub_wide.columns)
prime_sub_wide

# it makes sense that we have 104 rows bc 2 * 54 variants

,gene_var_gt,A_101,A_102,A_103,A_1101,A_1102,A_1103,A_201,A_202,A_203,...,C_403,C_407,C_501,C_602,C_701,C_702,C_704,C_801,C_802,C_804
0,DNMT3A_P904L_ch,1.490,1.490,1.490,1.167,1.210,1.167,0.105,0.034,0.019,...,0.319,0.100,0.560,0.231,0.461,0.192,0.484,0.250,0.976,0.976
1,DNMT3A_P904L_refseq,2.985,2.985,2.985,1.796,1.846,1.796,1.138,0.265,0.172,...,0.255,0.080,0.706,0.513,1.678,0.455,1.026,0.259,1.428,1.428
2,DNMT3A_P904Q_ch,2.544,2.544,2.544,3.406,2.601,3.406,0.093,0.040,0.019,...,1.075,0.434,1.044,0.082,1.299,0.440,1.945,0.311,1.475,1.475
3,DNMT3A_P904Q_refseq,2.985,2.985,2.985,1.796,1.846,1.796,1.138,0.265,0.172,...,0.255,0.080,0.706,0.513,1.678,0.455,1.026,0.259,1.428,1.428
4,DNMT3A_P904R_ch,2.846,2.846,2.846,0.688,0.756,0.688,0.073,0.031,0.018,...,0.798,0.609,0.922,0.049,0.719,0.469,1.726,0.514,1.859,1.859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,SRSF2_P95R_refseq,7.313,7.313,7.313,4.763,7.841,4.763,11.579,11.259,12.816,...,5.217,5.758,5.444,1.548,1.109,0.456,1.007,1.956,8.023,8.023
104,TP53_R175H_ch,2.672,2.672,2.672,4.340,5.084,4.340,0.501,0.250,0.555,...,4.220,3.669,5.319,0.740,1.556,0.401,0.795,3.628,8.944,8.944
105,TP53_R175H_refseq,4.638,4.638,4.638,1.639,1.989,1.639,1.332,0.625,1.604,...,10.332,8.958,13.608,1.888,0.741,0.595,2.867,13.566,18.073,18.073
106,TP53_R273H_ch,5.004,5.004,5.004,5.790,4.049,5.790,0.764,0.717,1.059,...,0.806,1.050,2.372,0.029,0.073,0.260,0.078,1.387,3.657,3.657
107,TP53_R273H_refseq,12.906,12.906,12.906,4.823,5.589,4.823,1.913,1.778,2.902,...,2.165,2.760,5.363,0.089,0.214,0.890,0.779,4.802,7.760,7.760

In [20]:

# create a list of HLA alleles genotyped in the UKBB for which predictions are available
hla_intersect = prime_sub_wide.columns[prime_sub_wide.columns.isin(hla_ukbb)] # HLA in the UKBB which I have predictions for 
hla_intersect_list = hla_intersect.tolist() # 194 alleles 

# create the prediction dataset 
prime_sub = prime_sub_wide[hla_intersect_list + prime_sub_wide.columns[prime_sub_wide.columns.str.contains('gene_var')].tolist()] # subset netmhc so you only have alleles which are in the UKBB, also 194
prime_sub = prime_sub[prime_sub['gene_var_gt'].str.contains('_ch', regex=True)] # retain CH scores only 
prime_sub['gene_var'] = prime_sub['gene_var_gt'].str.replace('_ch', '') # remove the ch / refseq annotation
prime_sub['gene_var'] = prime_sub['gene_var'].str.replace('_refseq', '') # remove refseq if present 
prime_sub = prime_sub[prime_sub['gene_var'].isin(variants_in_ukbb)]

In [21]:
# apply the function to find, for each participant, the best score for each examined CH variant 
# you take your current df and apply, row by row, the function to get scores for each variant 
# for the purpose of this, we first need to select MHC columns which are actually in the hla_intersect_list I think 
# DO NOT use this for sth like MHC heterozygosity tho!!
df_hla1_hlas = pd.concat([df_hla1[['Person_ID', 'gene_var', 'VAF', 'ch_status', 'age', 'depth', 'var_depth']], df_hla1[hla_intersect_list]], axis = 1)
df_hla1_scores = pd.concat([df_hla1_hlas, df_hla1_hlas.apply(find_best_score_for_all_variants, df=prime_sub, param=param, axis=1)], axis=1)

In [22]:
# print the df (just check it looks okay)
# add extra columns (read depth etc + MHC data)
df_hla1_scores_added = pd.concat([df_hla1_scores, df_hla1[['het_allele_I_A', 'het_allele_I_B', 'het_allele_I_C', 'sum_class_I', 'het_all_class_I', 'het_all_class_I_from_allele']]], axis = 1)
df_hla1_scores_added

,Person_ID,gene_var,VAF,ch_status,age,depth,var_depth,A_101,A_102,A_103,...,score_TP53_R175H,score_TP53_R273H,het_allele_I_A,het_allele_I_B,het_allele_I_C,sum_class_I,het_all_class_I,het_all_class_I_from_allele,depth,var_depth
0,2812213,NaN,NaN,0,41,NaN,NaN,0.0,0.0,0.0,...,0.501,0.764,False,True,True,6.0,False,False,NaN,NaN
1,4860169,NaN,NaN,0,46,NaN,NaN,2.0,0.0,0.0,...,0.740,0.029,False,True,True,6.0,False,False,NaN,NaN
2,3381323,NaN,NaN,0,52,NaN,NaN,0.0,0.0,0.0,...,0.385,0.029,True,True,True,6.0,True,True,NaN,NaN
3,2805252,NaN,NaN,0,65,NaN,NaN,2.0,0.0,0.0,...,0.401,0.029,False,True,True,6.0,False,False,NaN,NaN
4,1118855,NaN,NaN,0,56,NaN,NaN,0.0,0.0,0.0,...,0.501,0.029,True,True,True,6.0,True,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384910,4478244,DNMT3A_R882H,0.022727,1,55,88.0,2.0,1.0,0.0,0.0,...,0.401,0.073,True,True,True,6.0,True,True,88.0,2.0
384911,5660850,NaN,NaN,0,56,NaN,NaN,1.0,0.0,0.0,...,0.281,0.073,True,True,True,6.0,True,True,NaN,NaN
384912,3573995,NaN,NaN,0,62,NaN,NaN,1.0,0.0,0.0,...,0.385,0.073,True,True,True,6.0,True,True,NaN,NaN
384913,3025735,NaN,NaN,0,51,NaN,NaN,0.0,0.0,0.0,...,0.740,0.029,True,True,True,6.0,True,True,NaN,NaN
384914,1381182,NaN,NaN,0,67,NaN,NaN,1.0,0.0,0.0,...,0.501,0.073,True,True,True,6.0,True,True,NaN,NaN

In [23]:
# save to a file (this is already usable for further analysis)
df_hla1_scores_added.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_prime_scores_for_all_var.csv')

In [56]:
# FOR LABELS, READ THIS IN (in case kernel crashes etc.)
df_hla1_scores_added = pd.read_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_prime_scores_for_all_var.csv')

## Add labels (top / bottom half of binding scores)

In [29]:
# add median scores

# subset the dataframe to only include gene_var, Person ID and scores 
scores_col = [col for col in df_hla1_scores_added_dp.columns if col.startswith('score_')]
df_hla1_scores_sub = pd.concat([df_hla1_scores_added_dp[['Person_ID', 'gene_var', 'VAF', 'var_depth']], df_hla1_scores_added_dp[scores_col]], axis = 1)

# melt the dataframe 
df_hla1_scores_sub_melted = pd.melt(df_hla1_scores_sub, id_vars = ['gene_var', 'Person_ID', 'VAF', 'var_depth'])

# add a column which has the name of the variant (nicely formatted)
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['variable'].str[6:]

# add a column to indicate CH status (either carrier of the variant the score is for, or non-carrier, even if have CH driven by sth else)
df_hla1_scores_sub_melted['CH_status'] = np.where(df_hla1_scores_sub_melted['gene_var'] == df_hla1_scores_sub_melted['CH_variant'].replace(), 1, 0)

# you want the %Rank_EL to be in the format of -1*log10(%Rank_EL)
df_hla1_scores_sub_melted['log_score'] = -1 * np.log10(df_hla1_scores_sub_melted['value'])

# add median score for each variant and then order them by median 
df_hla1_scores_sub_melted['median_score'] = df_hla1_scores_sub_melted.groupby('CH_variant')['log_score'].transform('median')

# convert to categories 
df_hla1_scores_sub_melted['gene_var'] = df_hla1_scores_sub_melted['gene_var'].astype('category') 
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['CH_variant'].astype('category') # make sure you convert this to category first of all

In [30]:
# Add group (split participants with values equal to the median)

# there is quite a lot of people who have the score == median score 
# I am splitting this group so that the number of people with top / bottom is the same: here, each person whose score == median is assigned at random top or bottom 
variants = df_hla1_scores_sub_melted.CH_variant.unique().tolist()

for var in variants:

    # select df with variant 
    df_variant = df_hla1_scores_sub_melted[df_hla1_scores_sub_melted['CH_variant'] == var]
    
    # get the median 
    median_score = df_variant['log_score'].median()
    
    # find median values 
    median_values = df_variant[df_variant['log_score'] == df_variant['median_score']]
    
    # assign top / bottom if above or below median 
    below_median = df_variant[df_variant['log_score'] < median_score]
    above_median = df_variant[df_variant['log_score'] > median_score]
    
    # figure out how many observations you need with median values to top / bottom half
    half_length = len(df_variant) // 2
    num_bottom_needed = half_length - len(below_median)
    num_top_needed = len(median_values) - num_bottom_needed
    
    # assign values equal to median to top or bottom
    shuffled_median_values = median_values.sample(frac=1)
    bottom_half_median = shuffled_median_values.iloc[:num_bottom_needed]
    top_half_median = shuffled_median_values.iloc[num_bottom_needed:]
    
    # assign groups
    df_hla1_scores_sub_melted.loc[below_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[above_median.index, 'group'] = 'top half'
    df_hla1_scores_sub_melted.loc[bottom_half_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[top_half_median.index, 'group'] = 'top half'

In [31]:
# save to csv file
# save to a file (this is already usable for further analysis)
df_hla1_scores_sub_melted.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/dataframes/20240907_prime_scores_for_all_var_with_labels.csv')

:

# Alternative scores

- Binding affinity 

- DAI (based on %EL rank)

- DAI (based on binding affinity)

In [26]:
# 1 get binding affinities 

# create a suitably formatted NetMHC df 
param = 'Aff_nM'
netmhc_sub = netmhc[['HLA_formatted', 'gene_var_gt', param]]
netmhc_sub_wide = pd.pivot(netmhc_sub, index='gene_var_gt', columns='HLA_formatted', values=param)
netmhc_sub_wide = netmhc_sub_wide.reset_index() # this is to make sure that you have the gene_var column in there too 
netmhc_sub_wide.columns = map(transform_format_netmhc, netmhc_sub_wide.columns)

# create a list of HLA alleles genotyped in the UKBB for which predictions are available
hla_intersect = netmhc_sub_wide.columns[netmhc_sub_wide.columns.isin(hla_ukbb)] # HLA in the UKBB which I have predictions for 
hla_intersect_list = hla_intersect.tolist() # 194 alleles 

# create the prediction dataset 
netmhc_sub = netmhc_sub_wide[hla_intersect_list + netmhc_sub_wide.columns[netmhc_sub_wide.columns.str.contains('gene_var')].tolist()] # subset netmhc so you only have alleles which are in the UKBB, also 194
netmhc_sub = netmhc_sub[netmhc_sub['gene_var_gt'].str.contains('_ch', regex=True)] # retain CH scores only 
netmhc_sub['gene_var'] = netmhc_sub['gene_var_gt'].str.replace('_ch', '') # remove the ch / refseq annotation
netmhc_sub['gene_var'] = netmhc_sub['gene_var'].str.replace('_refseq', '') # remove refseq if present 

# apply the function to find, for each participant, the best score for each examined CH variant 
# you take your current df and apply, row by row, the function to get scores for each variant 
# for the purpose of this, we first need to select MHC columns which are actually in the hla_intersect_list I think 
# DO NOT use this for sth like MHC heterozygosity tho!!
df_hla1_hlas = pd.concat([df_hla1[['Person_ID', 'gene_var', 'VAF', 'ch_status', 'age']], df_hla1[hla_intersect_list]], axis = 1)
df_hla1_scores = pd.concat([df_hla1_hlas, df_hla1_hlas.apply(find_best_score_for_all_variants, df=netmhc_sub, param=param, axis=1)], axis=1)

# print the df (just check it looks okay)
# add extra columns (read depth etc + MHC data)
df_hla1_scores_added = pd.concat([df_hla1_scores, df_hla1[['het_allele_I_A', 'het_allele_I_B', 'het_allele_I_C', 'sum_class_I', 'het_all_class_I', 'het_all_class_I_from_allele', 'depth', 'var_depth']]], axis = 1)

# save to a file (this is already usable for further analysis)
df_hla1_scores_added.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/20240820_netmhc1_scores_for_all_var_bindaff.csv')

NameError: name 'netmhc' is not defined

In [12]:
# add labels 

# add median scores

# subset the dataframe to only include gene_var, Person ID and scores 
scores_col = [col for col in df_hla1_scores_added.columns if col.startswith('score_')]
df_hla1_scores_sub = pd.concat([df_hla1_scores_added[['Person_ID', 'gene_var']], df_hla1_scores_added[scores_col]], axis = 1)

# melt the dataframe 
df_hla1_scores_sub_melted = pd.melt(df_hla1_scores_sub, id_vars = ['gene_var', 'Person_ID'])

# add a column which has the name of the variant (nicely formatted)
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['variable'].str[6:]

# add a column to indicate CH status (either carrier of the variant the score is for, or non-carrier, even if have CH driven by sth else)
df_hla1_scores_sub_melted['CH_status'] = np.where(df_hla1_scores_sub_melted['gene_var'] == df_hla1_scores_sub_melted['CH_variant'].replace(), 'carrier', 'non-carrier')

# you want the %Rank_EL to be in the format of -1*log10(%Rank_EL)
df_hla1_scores_sub_melted['log_score'] = -1 * np.log10(df_hla1_scores_sub_melted['value'])

# add median score for each variant and then order them by median 
df_hla1_scores_sub_melted['median_score'] = df_hla1_scores_sub_melted.groupby('CH_variant')['log_score'].transform('median')

# convert to categories 
df_hla1_scores_sub_melted['gene_var'] = df_hla1_scores_sub_melted['gene_var'].astype('category') 
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['CH_variant'].astype('category')

variants = df_hla1_scores_sub_melted.CH_variant.unique().tolist()

for var in variants:

    # select df with variant 
    df_variant = df_hla1_scores_sub_melted[df_hla1_scores_sub_melted['CH_variant'] == var]
    
    # get the median 
    median_score = df_variant['log_score'].median()
    
    # find median values 
    median_values = df_variant[df_variant['log_score'] == df_variant['median_score']]
    
    # assign top / bottom if above or below median 
    below_median = df_variant[df_variant['log_score'] < median_score]
    above_median = df_variant[df_variant['log_score'] > median_score]
    
    # figure out how many observations you need with median values to top / bottom half
    half_length = len(df_variant) // 2
    num_bottom_needed = half_length - len(below_median)
    num_top_needed = len(median_values) - num_bottom_needed
    
    # assign values equal to median to top or bottom
    shuffled_median_values = median_values.sample(frac=1)
    bottom_half_median = shuffled_median_values.iloc[:num_bottom_needed]
    top_half_median = shuffled_median_values.iloc[num_bottom_needed:]
    
    # assign groups
    df_hla1_scores_sub_melted.loc[below_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[above_median.index, 'group'] = 'top half'
    df_hla1_scores_sub_melted.loc[bottom_half_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[top_half_median.index, 'group'] = 'top half'

df_hla1_scores_sub_melted.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/20240820_netmhc1_scores_for_all_var_with_labels_bindaff.csv')

In [13]:
# get DAI (based on %EL Rank)

# DAIBA=WTBA-mutBA and DAIR=mutR/WTR

netmhc['dai_rank_el'] = netmhc['%Rank_EL'] / netmhc['%Rank_EL'].shift(-1) # mutant over wt
netmhc['dai_rank_aff'] = netmhc['Aff_nM'].shift(-1) - netmhc['Aff_nM']
netmhc2 = netmhc.iloc[0::2].reset_index(drop=True)

In [14]:
# need to do something to assign, for everyone, the score for every variant we have predictions for based on their MHC I

# define the function to find best scores (we can technically do this for different parameters, realistically I think will just do it for %Rank_EL)

def find_best_score_for_all_variants(row, df, param):

    '''
    row = function is applied to each row of the participant dataframe (ie run through each participant)

    df = dataframe with prediction scores (like netmhc)

    Allowed parameters (param) are:
    Aff_nM - affinity (raw number)
    Score_BA - binding affinity score
    Score_EL - elution score
    %Rank_BA - %Rank of binding affinity cf a set of random peptides
    %Rank_EL - %Rank of elution cf a set of random peptides
    '''


    # get HLAs for each person 
    hlas = row.index[5:][row[5:] >= 1] # select alleles which each Person (row) carries (the first 5 columns are: Person ID, gene_var, VAF, CH status, age)
   
    # get variants 
    variants = df['gene_var']
   
    scores = {} # initialise empy dictionaries

    # depending on the parameter, pick the minimum of maximum value 
    if param == "Aff_nM":
        for var in variants:
            # Find the minimum value for each variant in the category that is present
            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0])
            # Update the dictionary with the minimum value for the corresponding variant
            scores[f'score_{var}'] = best_value
        return pd.Series(scores)

    elif param == "Score_BA":
        for var in variants:
            
            best_value = max(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value
        
        return pd.Series(scores)

    elif param == "Score_EL":
        for var in variants:
           
            best_value = max(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value

        return pd.Series(scores)

    elif param == "%Rank_BA":
        for var in variants:

            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value

        return pd.Series(scores)

    # we will likely be choosing this option
    elif param == "%Rank_EL":
        for var in variants:
            
            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0]) # choose minimum rank as the best score 
            scores[f'score_{var}'] = best_value

        return pd.Series(scores)

    elif param == "dai_rank_el": # mutant over wt but we have small numbers so higher is better 
        for var in variants:
            
            best_value = min(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value
        
        return pd.Series(scores)

    elif param == "dai_rank_aff": # wt - mutant so higher is better 
        for var in variants:
            
            best_value = max(df.loc[df['gene_var'] == var, hlas].values[0])
            scores[f'score_{var}'] = best_value
        
        return pd.Series(scores)

In [55]:

param = 'dai_rank_el'
netmhc_sub = netmhc2[['HLA_formatted', 'gene_var_gt', param]]
netmhc_sub_wide = pd.pivot(netmhc_sub, index='gene_var_gt', columns='HLA_formatted', values=param)
netmhc_sub_wide = netmhc_sub_wide.reset_index() # this is to make sure that you have the gene_var column in there too 
netmhc_sub_wide.columns = map(transform_format_netmhc, netmhc_sub_wide.columns)

# create a list of HLA alleles genotyped in the UKBB for which predictions are available
hla_intersect = netmhc_sub_wide.columns[netmhc_sub_wide.columns.isin(hla_ukbb)] # HLA in the UKBB which I have predictions for 
hla_intersect_list = hla_intersect.tolist() # 194 alleles 

# create the prediction dataset 
netmhc_sub = netmhc_sub_wide[hla_intersect_list + netmhc_sub_wide.columns[netmhc_sub_wide.columns.str.contains('gene_var')].tolist()] # subset netmhc so you only have alleles which are in the UKBB, also 194
netmhc_sub = netmhc_sub[netmhc_sub['gene_var_gt'].str.contains('_ch', regex=True)] # retain CH scores only 
netmhc_sub['gene_var'] = netmhc_sub['gene_var_gt'].str.replace('_ch', '') # remove the ch / refseq annotation
netmhc_sub['gene_var'] = netmhc_sub['gene_var'].str.replace('_refseq', '') # remove refseq if present 

# apply the function to find, for each participant, the best score for each examined CH variant 
# you take your current df and apply, row by row, the function to get scores for each variant 
# for the purpose of this, we first need to select MHC columns which are actually in the hla_intersect_list I think 
# DO NOT use this for sth like MHC heterozygosity tho!!
df_hla1_hlas = pd.concat([df_hla1[['Person_ID', 'gene_var', 'VAF', 'ch_status', 'age']], df_hla1[hla_intersect_list]], axis = 1)
df_hla1_scores = pd.concat([df_hla1_hlas, df_hla1_hlas.apply(find_best_score_for_all_variants, df=netmhc_sub, param=param, axis=1)], axis=1)

# print the df (just check it looks okay)
# add extra columns (read depth etc + MHC data)
df_hla1_scores_added = pd.concat([df_hla1_scores, df_hla1[['het_allele_I_A', 'het_allele_I_B', 'het_allele_I_C', 'sum_class_I', 'het_all_class_I', 'het_all_class_I_from_allele', 'depth', 'var_depth']]], axis = 1)

# save to a file (this is already usable for further analysis)
df_hla1_scores_added.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/20240820_netmhc1_scores_for_all_var_dai_rank_el.csv')

In [56]:
# add labels 

# add median scores

# subset the dataframe to only include gene_var, Person ID and scores 
scores_col = [col for col in df_hla1_scores_added.columns if col.startswith('score_')]
df_hla1_scores_sub = pd.concat([df_hla1_scores_added[['Person_ID', 'gene_var']], df_hla1_scores_added[scores_col]], axis = 1)

# melt the dataframe 
df_hla1_scores_sub_melted = pd.melt(df_hla1_scores_sub, id_vars = ['gene_var', 'Person_ID'])

# add a column which has the name of the variant (nicely formatted)
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['variable'].str[6:]

# add a column to indicate CH status (either carrier of the variant the score is for, or non-carrier, even if have CH driven by sth else)
df_hla1_scores_sub_melted['CH_status'] = np.where(df_hla1_scores_sub_melted['gene_var'] == df_hla1_scores_sub_melted['CH_variant'].replace(), 'carrier', 'non-carrier')

# you want the %Rank_EL to be in the format of -1*log10(%Rank_EL)
df_hla1_scores_sub_melted['log_score'] = -1 * np.log10(df_hla1_scores_sub_melted['value'])

# add median score for each variant and then order them by median 
df_hla1_scores_sub_melted['median_score'] = df_hla1_scores_sub_melted.groupby('CH_variant')['log_score'].transform('median')

# convert to categories 
df_hla1_scores_sub_melted['gene_var'] = df_hla1_scores_sub_melted['gene_var'].astype('category') 
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['CH_variant'].astype('category')

variants = df_hla1_scores_sub_melted.CH_variant.unique().tolist()

for var in variants:

    # select df with variant 
    df_variant = df_hla1_scores_sub_melted[df_hla1_scores_sub_melted['CH_variant'] == var]
    
    # get the median 
    median_score = df_variant['log_score'].median()
    
    # find median values 
    median_values = df_variant[df_variant['log_score'] == df_variant['median_score']]
    
    # assign top / bottom if above or below median 
    below_median = df_variant[df_variant['log_score'] < median_score]
    above_median = df_variant[df_variant['log_score'] > median_score]
    
    # figure out how many observations you need with median values to top / bottom half
    half_length = len(df_variant) // 2
    num_bottom_needed = half_length - len(below_median)
    num_top_needed = len(median_values) - num_bottom_needed
    
    # assign values equal to median to top or bottom
    shuffled_median_values = median_values.sample(frac=1)
    bottom_half_median = shuffled_median_values.iloc[:num_bottom_needed]
    top_half_median = shuffled_median_values.iloc[num_bottom_needed:]
    
    # assign groups
    df_hla1_scores_sub_melted.loc[below_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[above_median.index, 'group'] = 'top half'
    df_hla1_scores_sub_melted.loc[bottom_half_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[top_half_median.index, 'group'] = 'top half'

df_hla1_scores_sub_melted.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/20240820_netmhc1_scores_for_all_var_with_labels_dai_rank_el.csv')

In [15]:
param = 'dai_rank_aff'
netmhc_sub = netmhc2[['HLA_formatted', 'gene_var_gt', param]]
netmhc_sub_wide = pd.pivot(netmhc_sub, index='gene_var_gt', columns='HLA_formatted', values=param)
netmhc_sub_wide = netmhc_sub_wide.reset_index() # this is to make sure that you have the gene_var column in there too 
netmhc_sub_wide.columns = map(transform_format_netmhc, netmhc_sub_wide.columns)

# create a list of HLA alleles genotyped in the UKBB for which predictions are available
hla_intersect = netmhc_sub_wide.columns[netmhc_sub_wide.columns.isin(hla_ukbb)] # HLA in the UKBB which I have predictions for 
hla_intersect_list = hla_intersect.tolist() # 194 alleles 

# create the prediction dataset 
netmhc_sub = netmhc_sub_wide[hla_intersect_list + netmhc_sub_wide.columns[netmhc_sub_wide.columns.str.contains('gene_var')].tolist()] # subset netmhc so you only have alleles which are in the UKBB, also 194
netmhc_sub = netmhc_sub[netmhc_sub['gene_var_gt'].str.contains('_ch', regex=True)] # retain CH scores only 
netmhc_sub['gene_var'] = netmhc_sub['gene_var_gt'].str.replace('_ch', '') # remove the ch / refseq annotation
netmhc_sub['gene_var'] = netmhc_sub['gene_var'].str.replace('_refseq', '') # remove refseq if present 

# apply the function to find, for each participant, the best score for each examined CH variant 
# you take your current df and apply, row by row, the function to get scores for each variant 
# for the purpose of this, we first need to select MHC columns which are actually in the hla_intersect_list I think 
# DO NOT use this for sth like MHC heterozygosity tho!!
df_hla1_hlas = pd.concat([df_hla1[['Person_ID', 'gene_var', 'VAF', 'ch_status', 'age']], df_hla1[hla_intersect_list]], axis = 1)
df_hla1_scores = pd.concat([df_hla1_hlas, df_hla1_hlas.apply(find_best_score_for_all_variants, df=netmhc_sub, param=param, axis=1)], axis=1)

# print the df (just check it looks okay)
# add extra columns (read depth etc + MHC data)
df_hla1_scores_added = pd.concat([df_hla1_scores, df_hla1[['het_allele_I_A', 'het_allele_I_B', 'het_allele_I_C', 'sum_class_I', 'het_all_class_I', 'het_all_class_I_from_allele', 'depth', 'var_depth']]], axis = 1)

# save to a file (this is already usable for further analysis)
df_hla1_scores_added.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/20240820_netmhc1_scores_for_all_var_dai_aff.csv')

In [20]:
# add labels 
# add labels 

# add median scores

# subset the dataframe to only include gene_var, Person ID and scores 
scores_col = [col for col in df_hla1_scores_added.columns if col.startswith('score_')]
df_hla1_scores_sub = pd.concat([df_hla1_scores_added[['Person_ID', 'gene_var']], df_hla1_scores_added[scores_col]], axis = 1)

# melt the dataframe 
df_hla1_scores_sub_melted = pd.melt(df_hla1_scores_sub, id_vars = ['gene_var', 'Person_ID'])

# add a column which has the name of the variant (nicely formatted)
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['variable'].str[6:]

# add a column to indicate CH status (either carrier of the variant the score is for, or non-carrier, even if have CH driven by sth else)
df_hla1_scores_sub_melted['CH_status'] = np.where(df_hla1_scores_sub_melted['gene_var'] == df_hla1_scores_sub_melted['CH_variant'].replace(), 'carrier', 'non-carrier')

# NOTE: not doing log score here (because I want to know if the difference is positive / negative)
# add median score for each variant and then order them by median 
df_hla1_scores_sub_melted['median_score'] = df_hla1_scores_sub_melted.groupby('CH_variant')['value'].transform('median')

# convert to categories 
df_hla1_scores_sub_melted['gene_var'] = df_hla1_scores_sub_melted['gene_var'].astype('category') 
df_hla1_scores_sub_melted['CH_variant'] = df_hla1_scores_sub_melted['CH_variant'].astype('category')

variants = df_hla1_scores_sub_melted.CH_variant.unique().tolist()

for var in variants:

    # select df with variant 
    df_variant = df_hla1_scores_sub_melted[df_hla1_scores_sub_melted['CH_variant'] == var]
    
    # get the median 
    median_score = df_variant['value'].median()
    
    # find median values 
    median_values = df_variant[df_variant['value'] == df_variant['median_score']]
    
    # assign top / bottom if above or below median 
    below_median = df_variant[df_variant['value'] < median_score]
    above_median = df_variant[df_variant['value'] > median_score]
    
    # figure out how many observations you need with median values to top / bottom half
    half_length = len(df_variant) // 2
    num_bottom_needed = half_length - len(below_median)
    num_top_needed = len(median_values) - num_bottom_needed
    
    # assign values equal to median to top or bottom
    shuffled_median_values = median_values.sample(frac=1)
    bottom_half_median = shuffled_median_values.iloc[:num_bottom_needed]
    top_half_median = shuffled_median_values.iloc[num_bottom_needed:]
    
    # assign groups
    df_hla1_scores_sub_melted.loc[below_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[above_median.index, 'group'] = 'top half'
    df_hla1_scores_sub_melted.loc[bottom_half_median.index, 'group'] = 'bottom half'
    df_hla1_scores_sub_melted.loc[top_half_median.index, 'group'] = 'top half'

df_hla1_scores_sub_melted.to_csv('/Users/barbarawalkowiak/Desktop/msc_thesis/results/20240820_netmhc1_scores_for_all_var_with_labels_dai_rank_aff.csv')

: